<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<add name="GaskaConnectionString" connectionString="Server=192.168.0.105;Database=CDNXL_GASKA;User Id=Gaska;Password=mNgHghY4fGhTRQw;Connection Timeout=5;MultipleActiveResultSets=True" />
	</connectionStrings>
</configuration>


